.simulation-area {
  display: flex;
}

.simulation {
  padding-left: 20px;
  padding-top: 55px;
}

.code-area {
  display: flex;
  justify-content: center;
  padding: 0 30px 30px 30px;
}

.code {
  height: 500px;
  width: 650px;
}

.load-button {
  margin-bottom: 10px;
  margin-right: 20px;
}

.execute-button {
  margin-bottom: 10px;
  margin-left: 20px;
}

.save-as-button {
  height: 32px;
  width: 100px;
}

.javascript-button {
  height: 32px;
  width: 160px;
  margin-left: 20px;
}

.file-name-input {
  height: 32px;
  width: 150px;
}

.simulation-buttons {
  display: flex;
}